
/*///////////////////////////////////////CREER UNE CANDIDATURE FORMULAIRE/////////////////////////////////*/
form {
    border-left: 5px solid #198754;
}
input[type="file"] {
    border: 1px dashed #198754;
}

/*///////////////////////////////////////LISTE DES CANDIDATURES/////////////////////////////////*/
.candidat-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #198754;
    border-radius: 10px;
}

.candidat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-title {
    color: #198754;
    font-weight: 600;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    border-bottom: 2px solid #198754;
}

/*///////////////////////////////////////VALIDATION ADMIN DES CANDIDATURES/////////////////////////////////*/
.table {
    border-radius: 8px;
    overflow: hidden;
}

/*///////////////////////////////////////PROGRAMME DES CANDIDATURES/////////////////////////////////*/
.candidat-programme {
    border: 1px solid #198754;
    border-radius: 10px;
}
.card-title {
    font-weight: 600;
}

.candidat-page {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidat-card {
    width: 550px;
    border-radius: 20px;
    padding: 25px;
}

.candidat-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.candidat-icon {
    font-size: 120px;
    color: #6c757d;
}

.candidat-programme {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 30px;
    min-height: 80px;
}

.candidat-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.candidat-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

