/*//////////////////////////////////////// VOTES//////////////////////////////////////////*/

form {
    border-left: 5px solid #198754;
}
.form-check-label {
    font-weight: 500;
}

/*////////////////////////////////////////RESULTATS VOTES//////////////////////////////////////////*/
canvas {
    border: 2px solid #198754;
    border-radius: 10px;
    padding: 10px;
}
